<div class="form-wrapper">
    <form [formGroup]="searchForm" class="search-form">
        <mat-form-field class="field-full-width" appearance="outline">
            <mat-label>Find books using semantic search...</mat-label>
            <input matInput formControlName="query">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <span>or</span>
        <mat-form-field class="field-full-width" appearance="outline">
            <mat-label>Search by entering an image URL...</mat-label>
            <input matInput formControlName="imageURL">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

    </form>
</div>